/* General Page Styling */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #fffaf5; */
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
  background-color: #ffdce1;
  padding: 2rem 1rem 1rem;
  text-align: center;
}
  
header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  color: #444;
}

/* Main Content */
main {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: auto;
}

/* Sections */
section {
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #d45c96;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #444;
}

/* -------------------------- */

/* Landing page */
.logo-nav {
  height: 85vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-nav img.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

/* Nav Tabs */
.nav-tabs {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  gap: 0.1rem;
}

.nav-tabs a {
  color: #5b595a;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s;
}

.nav-tabs a:hover {
  background-color: #fff0f3;
}



.copyright {
  text-align: center;
  font-size: 1rem;
  color: #666;
}


/* Contact Page */
.contact a {
  color: #d45c96;
  font-weight: bold;
}


  