/* ---------------------Shop page----------------------- */

.product-card {
  background: #ffeef2;
  border-radius: 10px;
  /* padding: 0rem 0rem 0rem 0.5rem; */
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-slider {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.slider-img {
  display: none;
  width: 100%;
  height: 180px;
  object-fit: contain;  /* Changed from cover to contain */
  object-position: center;
  border-radius: 10px;
}

.slider-img.active {
  display: block;
}

.slider-controls button {
  background-color: #fde4e4;
  border: 1rem;
  padding: 0.1rem 0.5rem;
  margin: 0 0.3rem;
  border-radius: 6px;
  cursor: pointer;
}
  